{% extends 'admin/adminBase.html' %}

{% block content %}
<!------------ User Registration Body ------------>
<div class="d-flex justify-content-center">
  <form id="register_form" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <h5 style="text-align:center; font-weight: 900; color:#2c353c"><b style="color: #a83332">SIGN</b> <b style="color: #F6C103">UP</b></h5>
    <hr style="border-top: 1px solid ">
    <input type="text" name="id" hidden>
    <table>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="id_first_name" name="first_name" required>
      </div>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="firstName">Last Name</label>
        <input type="text" class="form-control" id="id_last_name" name="last_name" required>
      </div>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="firstName">Username</label>
        <input type="text" class="form-control" id="id_username" name="username" required>
      </div>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="firstName">Email</label>
        <input type="text" class="form-control" id="id_email" name="email" required>
      </div>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="firstName">Password</label>
        <input type="password" class="form-control" id="id_password1" name="password1" autocomplete="new-password" required>
      </div>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="firstName">Confirm Password</label>
        <input type="password" class="form-control" id="id_password2" name="password2" autocomplete="new-password" required>
      </div>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="availableBalance" hidden>Available Balance</label>
        <input type="text" class="form-control" id="id_password1" name="availableBalance" value = "0" hidden>
      </div>
      <div class="txt_field" style="padding-bottom: 6px">
        <label for="currentCashIn" hidden>Current Cash In</label>
        <input type="text" class="form-control" id="id_password2" name="currentCashIn " value = "0" hidden>
      </div>
      <div class="col-md-12">
        {{form.errors}}
      </div>
      <hr style="border-top: 1px solid ">
<!--      <div class="text-center">Already have an <label style="color: #F6C103; text-shadow: 200"><b>account</b></label> ? <a type="button" href="{% url 'robust:landing_view' %}" style="color: #a83332"><b>Sign in here</b></a></div>-->
    </table>
<!--    <br>-->
<!--    <br>-->
    <div class="row">
      <div class="col-md-6 mb-1">
        <a type="cancel" class="btn btn1" style="color: white; border-radius: 3px; width: 200px; background-color: #a83332; height: 45px; padding:10px" ; id="id-Cancel" href="{% url 'robust:adminList_view' %}">CANCEL</a>
      </div>
      <div class="col-md-6 mb-1">
        {% if user.is_authenticated %}
        <button type="submit" name="form_type" value="formTwo" class="btn btn-sm btn-link" style="color: white; border-radius: 3px; width: 200px; background-color: #a83332; height: 45px; margin-left: 0; padding:10px"> SUBMIT </button> 
        {% endif %}
      </div>
    </div>
  </form>
</div>
<br>

{% endblock content %}

{% block footerinclude %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock footerinclude %}