{% extends 'admin/adminBase.html' %}

{% block content %}

<!------------ BUS DRIVER REGISTRATION BODY ------------>
<div class="container" style="position: relative; left: -30px">
  <div style="background-color: #e8e7e7; padding-top: 10px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 5px; width: 1180px; border-bottom-color: #a83332; border-bottom-style: solid">
    <h6><b>Register Driver</b></h6>
  </div>
  <br>
  <form id="register_form" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <div class="picture-container">
        <div class="picture">
          <img src="" class="picture-src" id="profilePicturePreview" title="" required>
          <input type="file" id="profilePicture" name="profilePicture" required>
        </div>
        <h6 class="">Choose Picture</h6>
      </div>
    </div>
    <br>
    <input type="text" name="id" hidden>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required minlength="1" maxlength="20" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="middleName">Middle Name</label>
        <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name" minlength="1" maxlength="20">
      </div>
      <div class="col-md-4 mb-3">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required minlength="1" maxlength="20" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="emailAddress">Email</label>
        <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email" required minlength="1" maxlength="50" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="contactNumber">Contact No.</label>
        <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="Contact No." required minlength="11" maxlength="11" onkeypress='validate(event)' / required>
      </div>
      <div class="col-md-3 mb-2">
        <label for="gender">Gender</label> <br>
        <div class="form-check-inline text-right" style="color: black">
          <label class="form-check-label ">
            <input style="margin: 8px; color: black" type="radio" class="form-check-sm" name="gender" value="Male" checked="checked">Male
            <input style="margin: 8px; color: black" type="radio" class="form-check-sm" name="gender" value="Female">Female
          </label>
        </div>
      </div>
    </div>
    <br>
    <div class="row" style="padding-left: 60px">
      <div class="col-md-6 mb-1">
        <a type="cancel" class="btn btn1" style="color: white; border-radius: 3px; width: 200px; background-color: #a83332; height: 45px; margin-left: 310; padding:10px" id="id-Cancel" href="{% url 'robust:adminBusTransaction_view' %}">CANCEL</a>
      </div>
      <div class="col-md-6 mb-1">
        <button type="submit" name="form_type" value="formTwo" class="btn btn-sm btn-link" style="color: white; border-radius: 3px; width: 200px; background-color: #a83332; height: 45px; margin-left: 0; padding:10px"> SUBMIT </button>
      </div>
    </div>
  </form>
  <br>
</div>

{% block footerinclude %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<script>
  window.console = window.console || function(t) {};

</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }

</script>

<!-- Char that will only accept numbers only -->
<script>
  function validate(evt) {
    var theEvent = evt || window.event;

    // Handle paste
    if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
    } else {
      // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
    }
    var regex = /[0-9]|\./;
    if (!regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) theEvent.preventDefault();
    }
  }

</script>
{% endblock footerinclude %}
{% endblock content %}
