{% extends 'admin/adminBase.html' %}

{% block content %}

<!------------ Dashboard Page Body ------------>
<div class="container">
  <form id="bookingForm" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="container-fluid" style="width:100%">
    <div class="card shadow mb-4">
      <div class="card-header py-2">
        <p style="color: #a83332; font-size: 22px; font-weight: 700"><b>DASHBOARD</b></p>
        <div class="text-left">
          <a tabindex="5" class="week" style="color: black" href="{% url 'robust:adminDashboard_weekly' %}">Week</a>&nbsp;
          <a tabindex="5" class="month" style="color: black">Month</a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Bus -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#B84B48;">Bus</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" name = "allBuses" value ="allBuses">{{allBuses}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-bus fa-2x text-black-300" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Earnings -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#F6C103;">Earnings</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"> ₱ 69,000</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-money fa-2x text-black-300" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- User -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#ff7304;">Users</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{allPassengers}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-user fa-2x text-black-300" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Purchased Tickets -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1" style="color:#ae3e07;">Purchased Tickets</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">2,760</div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-ticket fa-2x text-black-300" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Preferred Seats and Time Departure -->
        <!--
            <table>
              <tr>
                <td><div id="seat_PieChart"></div></td>
                <td><div id="timeDep_BarChart"></div></td>
              </tr>
            </table>
-->
      </div>
    </div>
  </div>
</form>
</div>

{% block footerinclude %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Char that will only accept numbers only -->
<script>
  function validate(evt) {
    var theEvent = evt || window.event;

    // Handle paste
    if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
    } else {
      // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
    }
    var regex = /[0-9]|\./;
    if (!regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) theEvent.preventDefault();
    }
  }

</script>

<!--
<script>
      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart for seat_PieChart.
      google.charts.setOnLoadCallback(seat_PieChart);

      // Draw the pie chart for timeDep_BarChart.
      google.charts.setOnLoadCallback(timeDep_BarChart);

      // Callback that draws the pie chart for seat_PieChart.
      function seat_PieChart() {

        var data = google.visualization.arrayToDataTable([
          ['Preferred Seat', 'Bookings'],
          ['1A', 50],
          ['1B', 100],
          ['1C', 150]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {
          'title': 'PREFFERED SEAT',
          'fontSize': 16,
          'width': 500,
          'height': 400,
          slices: {0: {color: '#B84B48'}, 1:{color: '#F6C103'}, 2:{color: '#2C353C'}, 3: {color: 'red'}, 4:{color: 'grey'}}
        };

        // Instantiate and draw the chart for seat_PieChart.
        var chart = new google.visualization.PieChart(document.getElementById("seat_PieChart"));
        chart.draw(data, options);
      }

      // Callback that draws the pie chart for timeDep_BarChart.
     function timeDep_BarChart() {

     var data = google.visualization.arrayToDataTable([
         ["Preferred Time", "Bookings", { role: "style" } ],
         ["5:30", 920, "#B84B48"],
         ["6:30", 800, "#F6C103"],
         ["7:30", 700, "#2C353C"],
       ]);

     var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

     var options = {
        title: "TIME DEPARTURE",
        width: 500,
        fontSize: 16, 
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
     var chart = new google.visualization.BarChart(document.getElementById("timeDep_BarChart"));
      chart.draw(view, options);
      }   
</script>
-->
{% endblock footerinclude %}
{% endblock content %}
