{% extends 'admin/adminBase.html' %}

{% block content %}

<!------------  Bus Page Body ------------>
<div class="container">
  <div class="container-fluid" style="width:100%">
    <div class="card shadow mb-4">
      <div class="card-header py-2">
        <p style="color: #a83332; font-size: 22px; font-weight: 700"><b>BUS DETAILS</b></p>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <form id="form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <a type="button" class="button button2" href="adminRegisterBus" id="bus_id" style="color: white; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px; background-color: #2c353c; height: 40px; border-radius: 5px; font-size: 15px; width: 120px">
                  <p style="font-weight: 700; text-align: center;">ADD BUS</p>
                </a>
              </form>
            </div>
          </div>
        </div>

        <!--datatable starts here -->
        <div class="table-responsive">
          <table class="table table-bordered" id="myBusTable" width="100%" cellspacing="0">
            <thead class="thead-light">
              <tr>
                <th style="text-align:center; width: 12%">Bus Number</th>
                <th style="text-align:center; width: 25%">Bus Name</th>
                <th style="text-align:center; width: 35%">Destination</th>
                <th style="text-align:center; width: 15%">Plate Number</th>
                <th style="text-align:center; width: 10%">View</th>
              </tr>
            </thead>
            <tbody id="busData">
              {% for bus in buses %}
              <tr>
                <td style="text-align:center;">{{bus.busID}}</td>
                <td>{{bus.busName}}</td>
                <td>{{bus.destination}}</td>
                <td style="text-align:center;">{{bus.plateNumber}}</td>
                <td style="text-align:center; width: 33px">                 
                  <!-- View Button-->
                    <a type="button" class="btn btn-default btn-sm" style="width:35px" href="#" data-toggle="modal" data-target="#viewBusModal-{{bus.busID}}"><span class="fa fa-eye" style="color:black"></span></a>

                  <!-- Delete Button-->
                  <button type="button" class="btn btn-default btn-sm" style="width:35px" data-toggle="modal" data-target="#deleteBusModal-{{bus.busID}}">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>

            <!-- Modal Bus VIEW-->
            <div class="modal fade" id="viewBusModal-{{bus.busID}}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="background-color: #2c353c">
                  <div class="modal-header" style="background-color: #2c353c">
                    <h5 class="modal-title font-weight-bold" style="color:white">VIEW BUS DETAILS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                  </div>
                  <form id="updateForm" method='POST'>
                    {% csrf_token %}
                    <div class="modal-body">
                      <div class="container">
                        <div class="picture-container">
                          <div class="picture">
                            <img src="{{ bus.img.url }}" class="picture-src" id="profilePicturePreview" required>
                          </div>
                        </div>
                      </div>
                        <div class="row">
                          <div class="col-md-4 mb-2">
                            <input type="text" class="form-control" id="bus-id" name="bus-id" value="{{bus.busID}}" hidden="hidden">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <label for="busName" style="color: white">Bus Name</label>
                            <input type="text" class="form-control" id="id-busName" name="bus-busName" required minlength="1" maxlength="20" value="{{bus.busName}}">
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="seats" style="color: white">No. of Seats</label>
                            <input type="text" class="form-control" id="id-totalSeats" name="bus-totalSeats" placeholder="Seats" value="{{bus.totalSeats}}" readonly="readonly">
                          </div>

                          <div class="col-md-4 mb-3">
                            <label for="fare" style="color: white">Fare</label>
                            <input type="text" class="form-control" id="id-fare" name="bus-busFare" placeholder="Bus Fare" value="{{bus.busFare}}" required>
                          </div>
                        </div>
                        <hr style="background-color:  color: white; border-style: solid; border-color: white">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="departureTime" style="color: white">Time Departure</label>
                            <input type="time" class="form-control" id="id-departureTime" name="bus-departureTime" value="{{bus.departureTime| time:'H:i'}}" required>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="plateNumber" style="color: white">Plate Number</label>
                            <input type="text" class="form-control" id="id-plateNumber" name="bus-plateNumber" placeholder="Plate Number" minlength="1" maxlength="20" value="{{bus.plateNumber}}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="destination" style="color: white">Destination</label>
                            <input type="text" class="form-control" id="id-destination" name="bus-destination" placeholder="Destination" minlength="1" maxlength="50" value="{{bus.destination}}">
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="driver" style="color: white">Driver</label>
                            <input type="text" class="form-control" id="driver" name="driver" placeholder="Driver's name" minlength="1" maxlength="20">
                          </div>
                        </div>
                        <div class="modal-footer" style="height: 40px; padding-top: 5px">
                          <button type="button" class="btn btn" data-dismiss="modal" style="background-color: #a83332; color: white">CLOSE</button>
                          <button type="submit" name="busUpdate" id="busUpdate" class="btn btn" style="background-color: #a83332; color: white">UPDATE</button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Modal DELETE -->
            <div class="modal fade" id="deleteBusModal-{{bus.busID}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #2c353c">
                  <div class="modal-header" style="background-color: #2c353c">
                    <h5 class="modal-title" id="deleteModalLabel" style="color: white"><strong>DELETE RECORD</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="deleteForm" method='POST'>
                      {% csrf_token %}
                      <input type="text" name="deleteBus-id" value={{bus.busID}} hidden>
                      <p style="color: white">Are you sure you want to delete this record?</p>
                      <div class="modal-footer" style="height: 40px; padding-top: 5px">
                        <button type="button" class="btn btn" data-dismiss="modal" style="background-color: #a83332; color: white">NO</button>
                        <button type="SUBMIT" class="btn btn" id="busDelete" name="busDelete" style="background-color: #a83332; color: white">YES</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------  Driver Page Body ------------>
<div class="container">
  <!-- Driver List DataTable-->
  <div class="container-fluid" style="width:100%">
    <div class="card shadow mb-4">
      <div class="card-header py-2">
        <p style="color: #a83332; font-size: 22px; font-weight: 700"><b>BUS DRIVER LIST</b></p>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <form id="form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <a type="button" class="button button2" href="adminRegisterDriver" id="bus_id" style="color: white; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px; background-color: #2c353c; height: 40px; border-radius: 5px; font-size: 15px; width: 130px">
                  <p style="font-weight: 700; text-align: center;">ADD DRIVER</p>
                </a>
              </form>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered" id="myDriverTable" width="100%" cellspacing="0">
            <thead class="thead-light">
              <tr>
                <th style="text-align:center; width: 15%">ID</th>
                <th style="text-align:center; width: 30%">Name</th>
                <th style="text-align:center; width: 20%">Contact No.</th>
                <th style="text-align:center; width: 20%">Gender</th>
                <th style="text-align:center; width: 10%">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for driver in drivers %}
              <!-------------- Data -------------->
              <tr style="background-color: white">
                <td style="text-align:center">{{driver.id}}</td>
                <td>{{driver.firstName}} {{driver.middleName}} {{driver.lastName}}</td>
                <td style="text-align:center">{{driver.contactNumber}}</td>
                <td style="text-align:center">{{driver.gender}}</td>
                <td style="text-align:center">
                  <div class="text-center">
                    <!-- View Button-->
                    <a type="button" class="btn btn-default btn-sm" style="width:35px" href="#" data-toggle="modal" data-target="#driverUpdateModal-{{driver.id}}"><span class="fa fa-eye" style="color:black"></span></a>

                    <!-- Delete Button-->
                    <button type="button" class="btn btn-default btn-sm" style="width:35px" data-toggle="modal" data-target="#driverDeleteModal-{{driver.id}}">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>

              <!-- Modal VIEW-->
              <div class="modal fade" id="driverUpdateModal-{{driver.id}}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content" style="background-color: #2c353c">
                    <div class="modal-header" style="background-color: #2c353c">
                      <h5 class="modal-title font-weight-bold" style="color:white">VIEW DETAILS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                      </button>
                    </div>
                    <form id="updateForm" method='POST'>
                      {% csrf_token %}
                      <div class="modal-body">
                          
                          <div class="container">
                            <div class="picture-container">
                              <div class="picture">
                                <img src="{{driver.profilePicture.url}}" class="picture-src" id="profilePicturePreview" title="">
<!--
                                <input type="file" id="profilePicture" name="driver-profilePicture" class="">                                
                                <input type="file" id="profilePicture"  id="profilePicture" name="driver-profilePicture" value="{{driver.profilePicture}}" readonly>
                                <h6 class="" style="color: white">Choose Picture</h6>
-->
                              </div>
                            </div>
                          </div>                
                          <br>
                          
                        <input type="text" name="driver-id" value="{{driver.id}}" hidden>
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <label for="firstName" style="color: white">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="driver-firstName" placeholder="First Name" value="{{driver.firstName}}" required minlength="1" maxlength="20">
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="middleName" style="color: white">Middle Name</label>
                            <input type="text" class="form-control" id="middleName" name="driver-middleName" placeholder="Middle Name" value="{{driver.middleName}}" minlength="1" maxlength="20">
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="lastName" style="color: white">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="driver-lastName" placeholder="Last Name" value="{{driver.lastName}}" required minlength="1" maxlength="20">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-5 mb-3">
                            <label for="emailAddress" style="color: white">Email</label>
                            <input type="email" class="form-control" id="emailAddress" name="driver-emailAddress" placeholder="Email" value="{{driver.emailAddress}}" required minlength="1" maxlength="50">
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="contactNumber" style="color: white">Contact No.</label>
                            <input type="text" class="form-control" id="contactNumber" name="driver-contactNumber" placeholder="Contact No." value="{{driver.contactNumber}}" required minlength="11" maxlength="11" onkeypress='validate(event)' />
                          </div>
                          <div class="col-md-3 mb-2">
                            <label for="gender" style="color: white">Gender</label> <br>
                            <div class="form-check-inline text-right" style="color: white">
                              <label class="form-check-label ">
                                {% if driver.gender == 'Male' %}
                                <input style="margin: 8px; color: white" type="radio" class="form-check-sm" name="driver-gender" value="Male" checked="checked">Male
                                <input style="margin: 8px; color: white" type="radio" class="form-check-sm" name="driver-gender" value="Female">Female
                                {% else %}
                                <input style="margin: 8px; color: white" type="radio" class="form-check-sm" name="driver-gender" value="Male">Male
                                <input style="margin: 8px; color: white" type="radio" class="form-check-sm" name="driver-gender" value="Female" checked="checked">Female
                                {% endif %}
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer" style="background-color:#2c353c;height: 40px; padding: 5px">
                          <button type="button" class="btn" data-dismiss="modal" style="background-color: #a83332; color: white">CANCEL</button>
                          <button type="submit" id="updateDriver" name="driverUpdate" class="btn" style="background-color: #a83332; color: white">UPDATE</button>
                          <!--<a type="button" class="btn btn1" style="background-color: #a83332; color: white" id="driverUpdate" name="driverUpdate" href="{% url 'robust:userReservation_view' %}">UPDATE</a>-->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Modal DELETE -->
              <div class="modal fade" id="driverDeleteModal-{{driver.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="background-color: #2c353c">
                    <div class="modal-header" style="background-color: #2c353c">
                      <h5 class="modal-title" id="deleteModalLabel" style="color: white"><strong>DELETE RECORD</strong></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="deleteForm" method='POST'>
                        {% csrf_token %}
                        <input type="text" name="deleteDriver-id" value="{{driver.id}}" hidden>
                        <p style="color: white">Are you sure you want to delete this record?</p>
                        <div class="modal-footer" style="height: 40px; padding-top: 5px">
                          <button type="button" class="btn btn" data-dismiss="modal" style="background-color: #a83332; color: white">NO</button>
                          <button type="SUBMIT" class="btn btn" id="deleteDriver" name="driverDelete" style="background-color: #a83332; color: white">YES</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------ Trip Body ------------>
<div class="container">
  <div class="container-fluid" style="width:100%">
    <div class="card shadow mb-4">
      <div class="card-header py-2">
        <p style="color: #a83332; font-size: 22px; font-weight: 700"><b>BUS TRIP</b></p>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <p><b>FROM</b>
                <input id="min" class="form-control" name="min" type="text" style="width: 150px;">
              </p>
            </div>
            <div class="col-xs-2" style="padding-left: 20px">
              <p><b>TO</b>
                <input id="max" class="form-control" name="max" type="text" style="width: 150px;">
              </p>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered" id="myTripTable" width="100%" cellspacing="0">
            <thead class="thead-light">
              <tr>
<!--                <th style="text-align:center; width: 15%">Employee ID</th>-->
                <th style="text-align:center; width: 15%">Trip No.</th>
                <th style="text-align:center; width: 15%">Bus No.</th>
                <th style="text-align:center; width: 15%">Passenger ID.</th>
                <th style="text-align:center; width: 15%">Trip Date</th>
                <th style="text-align:center; width: 14%">Trip Time</th>
                <th style="text-align:center; width: 14%">View</th>

<!--                <th style="text-align:center; width: 2%">Delete</th>-->
              </tr>
            </thead>
            <tbody>
              {% for trip in trips %}
              <tr style="background-color: white">
<!--                <td> </td>-->
                <td style="text-align:center">Robust - {{trip.booking}}</td>
                <td style="text-align:center">{{trip.bus.busID}}</td>
                <td style="text-align:center">{{trip.user.id}}</td>
                <td style="text-align:center">{{trip.dateReservation}}</td>
                <td style="text-align:center">{{trip.bus.departureTime}}</td>
                <td style="text-align:center; width: 33px">
                  <div class="text-center">
                    <a type="button" class="btn btn-default btn-sm" style="width:55px" href="#" data-toggle="modal" data-target="#viewTripModal-{{trip.booking}}"><span class="fa fa-eye" style="color:black"></span></a>

<!--
                     Delete Button
                    <button type="button" class="btn btn-default btn-sm" style="width:55px" data-toggle="modal" data-target="#deleteTripModal-{{trip.booking}}">
                      <span class="fa fa-trash"></span>
                    </button>
-->
                  </div>
                </td>
              </tr>
            </tbody>

             <!-- Modal VIEW -->
              <div class="modal fade" id="viewTripModal-{{trip.booking}}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content" style="background-color: #2c353c">
                    <div class="modal-header" style="background-color: #2c353c">
                      <h5 class="modal-title font-weight-bold" style="color:white">VIEW DETAILS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                      </button>
                    </div>
                    <form id="updateForm" method='POST'>
                      {% csrf_token %}
                      <div class="modal-body">
<!--                        <input type="text" name="user-id" value="{{user.id}}" hidden>-->
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="tripNo" style="color: white">Trip No.</label>
                            <input type="text" class="form-control" id="" name="trip-tripNo" placeholder="Trip No." value="Robust - {{trip.booking}}" required minlength="1" maxlength="20" readonly>
                          </div>    
                          <div class="col-md-6 mb-3">
                            <label for="busNo" style="color: white">Bus No.</label>
                            <input type="text" class="form-control" id="" name="trip-busNo" placeholder="Bus No." value="{{trip.bus.busID}}" required minlength="1" maxlength="20" readonly>
                          </div>                        
                        </div>
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <label for="passengerID" style="color: white">Passenger ID. </label>
                            <input type="text" class="form-control" id="" name="trip-passengerID" placeholder="Passenger ID." value="{{trip.user.id}}" required minlength="1" maxlength="20" readonly>
                          </div>   
                          <div class="col-md-4 mb-3">
                            <label for="tripDate" style="color: white">Date</label>
                            <input type="date" class="form-control" id="" name="trip-dateReservation" placeholder="mm/dd/yyyy" onfocus="(this.type='date')" onblur="(this.type='text')" value="{{trip.dateReservation}}" required readonly>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="tripTime" style="color: white">Time Departure</label>
                            <input type="text" class="form-control" id="" name="trip-departureTime" placeholder="Trip Time Departure" minlength="1" maxlength="20" value="{{trip.bus.departureTime}}" readonly>
                          </div>
                        </div>
                        <div class="modal-footer" style="background-color:#2c353c;height: 45px; padding-top: 5px">
<!--                          <button type="button" class="btn" data-dismiss="modal" style="background-color: #a83332; color: white">CANCEL</button>-->

                          <button type="submit" id="" name="close" class="btn" style="background-color: #a83332; color: white">CLOSE</button>
                          <!--                            <a type="button" class="btn btn1" style="background-color: #a83332; color: white" id="id-register" href="{% url 'robust:userReservation_view' %}">UPDATE</a>-->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- Modal DELETE -->
<!--
              <div class="modal fade" id="deleteTripModal-{{trip.booking}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="background-color: #2c353c">
                    <div class="modal-header" style="background-color: #2c353c">
                      <h5 class="modal-title" id="deleteModalLabel" style="color: white"><strong>DELETE RECORD</strong></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="deleteForm" method='POST'>
                        {% csrf_token %}
                        <input type="text" name="deleteTrip-id" value= "{{trip.booking}}" hidden>
                        <p style="color: white">Are you sure you want to delete this record?</p>
                        <div class="modal-footer" style="height: 40px; padding-top: 5px">
                          <button type="button" class="btn btn" data-dismiss="modal" style="background-color: #a83332; color: white">NO</button>
                          <button type="SUBMIT" class="btn btn" id="deleteTrip" name="tripDelete" style="background-color: #a83332; color: white">YES</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
-->
              {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% block footerinclude %}
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- DataTable Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>


<!------ Bus Table Scripts ------>
<script>
  //Search filter for the TABLES
  $(document).ready(function() {

    $("#busInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#busData tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function() {
    //Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>
<script>
  $(document).ready(function() {
    let initialTableSettings = {
      "pageLength": 10,
      "lengthMenu": [
        [10, 20, 30, -1],
        [10, 20, 30, "All"]
      ],
      dom: 'flrtBi<"posR"p>',
      buttons: [
        'copy',
        'excel'
      ]
    }

    $.fn.dataTable.ext.search.push(
      function(settings, data, dataIndex) {
        var min = $('#min').datepicker("getDate");
        var max = $('#max').datepicker("getDate");
        // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
        var startDate = new Date(data[0])
        if (min == null && max == null) {
          return true;
        }
        if (min == null && startDate <= max) {
          return true;
        }
        if (max == null && startDate >= min) {
          return true;
        }
        if (startDate <= max && startDate >= min) {
          return true;
        }
        return false;
      }
    );

    $("#min").datepicker({
      onSelect: function() {
        table.draw();
      },
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy"
    });
    $("#max").datepicker({
      onSelect: function() {
        table.draw();
      },
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy"
    });
    var table = $('#myBusTable').DataTable(initialTableSettings);

    // Event listener to the two range filtering inputs to redraw on input
    $('#min, #max').change(function() {
      table.draw();
    });

  });

  $(document).ready(function() {
    //Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>

<!------ Driver Table Scripts ------>
<script>
  $(document).ready(function() {
    let initialTableSettings = {
      "pageLength": 10,
      "lengthMenu": [
        [10, 20, 30, -1],
        [10, 20, 30, "All"]
      ],
      dom: 'flrtBi<"posR"p>',
      buttons: [
        'copy',
        'excel'
      ]
    }

    $.fn.dataTable.ext.search.push(
      function(settings, data, dataIndex) {
        var min = $('#min').datepicker("getDate");
        var max = $('#max').datepicker("getDate");
        // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
        var startDate = new Date(data[0])
        if (min == null && max == null) {
          return true;
        }
        if (min == null && startDate <= max) {
          return true;
        }
        if (max == null && startDate >= min) {
          return true;
        }
        if (startDate <= max && startDate >= min) {
          return true;
        }
        return false;
      }
    );

    $("#min").datepicker({
      onSelect: function() {
        table.draw();
      },
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy"
    });
    $("#max").datepicker({
      onSelect: function() {
        table.draw();
      },
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy"
    });
    var table = $('#myDriverTable').DataTable(initialTableSettings);

    // Event listener to the two range filtering inputs to redraw on input
    $('#min, #max').change(function() {
      table.draw();
    });

  });

  $(document).ready(function() {
    //Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>

<!------ Trip Table Scripts ------>
<script>
  $(document).ready(function() {
    let initialTableSettings = {
      "pageLength": 10,
      "lengthMenu": [
        [10, 20, 30, -1],
        [10, 20, 30, "All"]
      ],
      dom: 'flrtBi<"posR"p>',
      buttons: [
        'copy',
        'excel'
      ]
    }

    $.fn.dataTable.ext.search.push(
      function(settings, data, dataIndex) {
        var min = $('#min').datepicker("getDate");
        var max = $('#max').datepicker("getDate");
        // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
        var startDate = new Date(data[0])
        if (min == null && max == null) {
          return true;
        }
        if (min == null && startDate <= max) {
          return true;
        }
        if (max == null && startDate >= min) {
          return true;
        }
        if (startDate <= max && startDate >= min) {
          return true;
        }
        return false;
      }
    );

    $("#min").datepicker({
      onSelect: function() {
        table.draw();
      },
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy"
    });
    $("#max").datepicker({
      onSelect: function() {
        table.draw();
      },
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy"
    });
    var table = $('#myTripTable').DataTable(initialTableSettings);

    // Event listener to the two range filtering inputs to redraw on input
    $('#min, #max').change(function() {
      table.draw();
    });

  });

  $(document).ready(function() {
    //Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>

<!-- Char that will only accept numbers only -->
<script>
  function validate(evt) {
    var theEvent = evt || window.event;

    // Handle paste
    if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
    } else {
      // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
    }
    var regex = /[0-9]|\./;
    if (!regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) theEvent.preventDefault();
    }
  }

</script>
{% endblock footerinclude %}
{% endblock content %}
