
    .bus {
      margin: 20px auto;
      max-width: 300px;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .seats {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .seat {
      display: flex;
      flex: 0 0 14.28571428571429%;
      padding: 5px;
      position: relative;

      width: 39.6px;
      height: 44px;
      border-radius: 4px 4px 8px 8px;
      background: #a83332;
      background: linear-gradient(#a83332 0%, #a83332 70%, #000 70%, #a83332 77%);
      position: relative;
      border: 1px solid #000;
      margin: 5px;
      display: inline-block;
      color: white;
    }

    .seat:nth-child(3) {
      margin-right: 14.28571428571429%;
    }

    .seat input[type=checkbox] {
      position: absolute;
      opacity: 0;
    }

    .seat input[type=checkbox]:checked+label {
      background: #e7c51d;
      color: black;
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }

    .seat input[type=checkbox]:disabled+label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
    }

    .seat input[type=checkbox]:disabled+label:after {
      content: "X";
      text-indent: 0;
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .seat input[type=checkbox]:disabled+label:hover {
      box-shadow: none;
      cursor: not-allowed;
    }

    .seat label:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #e7c51d;
    }

    .seat:after,
    .seat:before {
      content: '';
      display: block;
      width: 7.3333333333px;
      height: 24.4444444444px;
      position: absolute;
      background: #a83332;
      border-radius: 4px;
      border: 1px solid #000;
      bottom: 5.5px;
    }

    .seat:before {
      left: -4.4px;
    }

    .seat:after {
      right: -4.4px;
    }

    .seat label {
      cursor: pointer;
      position: absolute;
      background: #f1f1f100;
      border-radius: 0px 0px 3px 3px;
      width: 35px;
      height: 35px;
      left: 2px;
      top: 3px;
    }

    .seat label:after {
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 30px;
      border-radius: 5px;
      height: 25px;
      background: #ff9800;
      top: 0;
      left: 2px;
    }

    @-webkit-keyframes rubberBand {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }

      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }

      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }

      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }

      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @keyframes rubberBand {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }

      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }

      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }

      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }

      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    .rubberBand {
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
    }